* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

.hero {
    background-color: #060612;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    padding-top: 240px;

}

.hero p {
    font-size: 2.2rem;
    color: aliceblue;
}

.hero h1 {
    font-size: 4.5rem;
    color: aliceblue;
    text-shadow: 0 0 10px rgba(0, 191, 255, .4);
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #0a1020;
}

.portfolio h1 {
    font-size: 2.2rem;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;

}

.portfolio p {
    color: aliceblue;
    padding-top: 2px;
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .hero {
        height: 100vh;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        padding-top: 380px;


    }
}